<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Description</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @post.title %></td>
      <td><%= @post.url %></td>
      <td><%= @post.description %></td>
      <td><%= @post.tags %></td>
    </tr>
  </tbody>
</table>
